*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --bs-font-sans-serif :'Inter', Sans-serif;
}
body{

    font-family: "Inter", sans-serif !important;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
header{
    background-color: #0033A0;
}
.navSpanTop,.navSpanBottom{
    color:white;
    font-weight: 700;
    line-height: 18px;
}
.navSpanTop{
    font-size: 18px; 
}
.navSpanBottom{
    font-size: 30px;
    letter-spacing: 2px;
}

nav ul li a{
        color:white;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
}

.freedemoButton{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #212121;
    background-color: #FFD428;
    padding: 14px 50px 14px 50px;     
    border-radius: 25px 25px 25px 25px;
}

.HomeSection, .demoSection{
    background-color:#0033A0;
}

.HomeSection h1,p  {
    color:white;
    letter-spacing: 1px;
}
.HomeSection h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
}
.HomeSection h1 span{
    background-color: #FFD428;
    color:black;
    padding: 5px;
}
.HomeSection p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.embed{
    width: 400px;
    height: 240px;
    background-color: white;
    border-radius: 3px;
}

.embediframe{
    padding: 2px 2px 7px 2px;
}
.demoDiv{
    background-color: #FFD428;
    border-radius: 10px;    
    padding:41px 15px 3px 15px;;
}

 /* .demoDiv  div{
    width: 33.33%;
    margin: 10px 0px;
    padding: 0px 5px;
 } */

.demoSection h2{
    font-weight: 700;   
    color: white; 
}
 .blackBorder{
    border-color: black !important;
    border-width: 1px !important;
 }

 .sumbitButton{
    background-color:#0033A0;
    color: white;
    font-size: 16px;
    font-weight: 600;
    height:55px;
    width: 100%;
 }

 .courseSection,mentorSection{
    padding: 80px 0px 80px 0px ;
 }

 .courseSection, .mentorSection ,.placementSection,.footerSection{    
    text-align: center;
 }
 .courseSection h2 ,.mentorSection h2,.placementSection h2{
    color: #212121;
    font-family: "Inter", Sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 20px;

 }

 .courseSection p,.mentorSection p,.placementSection p{
    color: #757575;
    font-family: "Inter", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.5px;
}

.courseSection article img{
    width:auto;
    max-height:100%
}

.courseSection article a{
    background-color: #FFD428;
    border-color: #FFD428;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.border-8{
    border-width: 8px;
    border-color: white;
}


.mentorSection article h3{
    color: #212121;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 1px;
}
.mentorSection article h4{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
}

.mentorSection article .card-img-top {
    height: 40%;
    width: 40%;
    align-self: center;
}
.carousel-button
{
    width: 7% !important;
    align-content: center;
}

.carousel-button-round{
    
    background-color: white;
    border-radius: 50%;
    color: black;
    
}

.footerSection h2{
    color: #212121;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 4rem;
}

.registerButton{
    
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: white;
    background-color: #075E54;
    padding: 14px 50px 14px 50px;     
    border-radius: 25px 25px 25px 25px;

}

 