
/*extra small*/

@media screen and  (max-width: 576px) {
    
  }
  
  /*small*/

@media screen and  (min-width: 576px) {
    
  }


  /* medium */

  @media screen and  (min-width: 768px) {
    
  } 


  
  /* large */

  @media screen and  (min-width: 992px) {
   
    .nav-header{
        display: flex;
        justify-content: space-between;    
        align-items: center;    
    }
    .nav-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:1rem;
        margin-bottom: 0px;
    }
  } 

  
  /* extra large */

  @media screen and  (min-width: 1200px) {
    
  }
  
  /* extra extra large */

  @media screen and  (min-width: 1400px) {
    
  }


